.product-card-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
}

.product-card-wrapper.product-card .product-card__section {
    padding: 20px 20px 20px 12px;
}

.product-card-wrapper.product-card .product-card__description {
    font-size: 14px;
    max-height: 144px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-wrapper.product-card .product-card__subtitle {
    font-size: 12px;
    color: #97A0AF;
    margin-bottom: 20px;
}

.product-card-wrapper.product-card .product-card__divider {
    width: 1px;
    background-color: #DADADA;
}

.product-card-wrapper.product-card .product-card__info {
    position: relative;
    min-width: 226px;
    padding: 20px;
}

.product-card-wrapper.product-card .product-card__price {
    font-size: 18px;
    font-weight: 300;
}

.product-card-wrapper.product-card .product-card__button {
    width: 100%;
    max-width: 185px;
    padding: 11px 26px;
}

.product-card-wrapper.product-card .product-card__button--wishlist {
    margin-bottom: 11px;
}

.product-card-wrapper.product-card .product-card__button--wishlist:focus {
    box-shadow: 0 0 0 0.25rem rgb(101 84 192 / 25%);
}

.product-card-wrapper.product-card .product-card__button--wishlist:hover {
    color: #FAFBFC;
}

.product-card-wrapper.product-card .product-card__button--add-cart:focus {
    box-shadow: 0 0 0 0.25rem rgb(80 95 121 / 25%);
}

.product-card-wrapper.product-card .product-card__button--add-cart:hover {
    color: #FAFBFC;
}


